<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    .i{
        text-align: center;
        font-size: 200%;
        margin-bottom: 1%;
        color: rgb(2, 50, 56);
    }
</style>
<body>
    <h2 style="font-size: 200%;">{{>header}}</h2>
    <img src={{imagePath1}} >
    <h2 class="i">{{data1}}</h2>
    <img src={{imagePath2}} >
    <h2 class="i">{{data2}}</h2>
    <img src={{imagePath3}} >
    <h2 class="i">{{data3}}</h2>
    <h2>{{>footer}}</h2>
</body>
</html>