<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    .i {
        margin-left: 5%;
        font-size: 200%;
        margin-bottom: 1%;
        color: rgb(2, 50, 56);
    }
</style>
<body>
    <h1>{{>header}}</h1>
    <img src={{imagePath}}>
    <h2 class="i">- Team Manager : {{team_manager}}</h2>
    <h2 class="i">- Front-End developer : {{front_developer}}</h2>
    <h2 class="i">- Designer : {{designer}}</h2>
    <h2 class="i">- Back-End developer : {{back_developer}}</h2>
    <h1>{{>footer}}</h1>
</body>

</html>